.role-card {
    background-color: rgba(0,0,0,.4);
    border-radius: 10px;
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}

.role-card img {
    width: 50%;
    height: auto;
    padding: 20px;
}

.image-and-stats li {
    list-style: circle;
    align-items: center;
}

.image-and-stats {
    display: flex;
    align-items: center;
    line-height: 2;
}

li:first-child {
    list-style: none;
}