:root {
  --dark-color: black;
  --light-color: white;

  --primary-font: "Ubuntu", sans-serif;
}

* {
  margin: 0;
  font-family: var(--primary-font);
  opacity: 1;
}

body {
  background-image: url("assets/main-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
}